<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
Изменить пользователя:

<br/>
<br/>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${userEdit.getId()})}" th:object="${userEdit}">
    <label for="name">Изменить имя</label>

    <br/>
    <br/>
    <label for="lastname">Изменить фамилию</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br/>
    <br/>
    <label for="age">Изменить возраст</label>
    <input type="text" th:field="*{age}" id="age">
    <br/>
    <br/>
    <label for="login">Изменить логин</label>
    <input type="text" th:field="*{login}" id="login">
    <br/>
    <br/>
    <label for="password">Изменить пароль</label>
    <input type="text" th:field="*{password}" id="password">
    <br/>
    <br/>
    <legend>_________________________________________________________________________________</legend>
    <legend>Выберите права для пользователя (отсутствие выбора означает оставить старые права)</legend>
    <br/>
    <div>
        <select name="roles" multiple required size="6">
            <option disabled selected>select role</option>
            <div  th:each="role : ${userEdit.getRoles()}">
                <option th:text="${role.getName()}" th:value="${role.getName()}" name="roles"/>
            </div>
        </select>
    </div>
    <br/>
    <br/>
    <input type="submit" value=" Ok ">
</form>
<br/>
</td>
<a button th:href="@{/}"> Выход </a>
</td>
</body>
</html>